<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive 
drive.mount('/content/drive')
#เชื่อม Drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
path = '/content/drive/My Drive/DWDM_material'

In [8]:
import os
import pandas
# เรียกใช้ฟังก์ชัน

In [9]:
search_click = os.path.join(path,'search_click.csv')  #สร้างที่อยู่โดยใช้ os.path.join
w_restaurant = os.path.join(path,'w_restaurant.csv')

#Then use _pandas_ to load the data into the environment

In [10]:
search_click_df = pandas.read_csv(search_click)
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [11]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

#To check if the dimension of loaded data is correct as described in the description

In [12]:
search_click_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(1048575, 6)

In [13]:
w_restaurant_df.shape

(246847, 32)

## 0. Point to data in the table การชี้ข้อมูลไปที่ตารางโดยใช้ Dict

In [14]:
search_click_df['search_id'] #ใช้ชื่อคอลัมเรียกออกมา คือ search_id

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [15]:
search_click_df['search_id'][0] #indexแรก คือ คอมลัม indexสอง คือ แถวหรือลำดับของข้อมูล

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
w_restaurant_df[['name' ,'city_name', 'weighted_average_rating']]
#อยากได้แค่บางส่วนโดยการตัดตารางด้วยชื่อคอลัมที่มีอยู่ อยากได้ name , city_name , weighted_average_rating 
#โดยจะมีเครื่องหมายลิสต์ 2 อันซ้อนกันอยู่ [[]]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

#iloc เปลี่ยนมุมมองตารางให้เป็นเหมือน numply คือ มีคอลัมและแถว

In [17]:
search_click_df.iloc[0,1] # แถวที่0 , หลักหรือคอลัมที่1

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [18]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

#Missing Values

In [19]:
#เช็คว่าตารางมี missing หรือไม่
## Missing Values
search_click_df.isnull() #แต่ละช่องในตารางเป็นช่องว่างหรือป่าว

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [20]:
search_click_df.isnull().any() #.any จะยุบรวม T ในแต่ละคอลัมมา or กัน ดูตามแนวคอลัมว่ามี

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [21]:
search_click_df.isnull().any().any()

True

# Handling missing values 1 การจัดการ Missing
data ไหนมี missing อยู่ก็ให้ลบออก

In [22]:
search_click_df_nm = search_click_df.dropna()

In [23]:
search_click_df_nm.isnull().any().any() #เอามาเช็คอีกรอบจะเห็นว่าเป็น False แล้ว คือ ไม่มี missing อยู่ แต่จะทำให้ข้อมูลมันลดลง

False

In [24]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

In [25]:
## Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออกจากตาราง w_restarant จำทำให้ข้อมูลลดลงกี่เปอร์เซ็น

In [26]:
w_restaurant_df.isnull()

           id   name  domain_id  ...  hotel_restaurant  pet_friendly  delivery
0       False  False      False  ...              True          True      True
1       False  False      False  ...              True          True      True
2       False  False      False  ...              True          True      True
3       False  False      False  ...              True          True      True
4       False  False      False  ...              True          True      True
...       ...    ...        ...  ...               ...           ...       ...
246842  False  False      False  ...              True          True      True
246843  False  False      False  ...              True          True      True
246844  False  False      False  ...              True          True      True
246845  False  False      False  ...              True          True      True
246846  False  False      False  ...              True          True      True

[246847 rows x 32 columns]

In [27]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [28]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [29]:
w_restaurant_df_nm.isnull().any().any()

False

In [30]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 32)
(4, 32)

In [31]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size_before_drop = {size_before_drop},\nsize after drop = {size_after_drop}\
        \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size_before_drop = 246847,
size after drop = 4
which is 99.99837956304918

#Method 1.5

In [32]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [33]:
w_restaurant_df.dropna(subset=['id','price_range']).shape #เลือก drop เฉพาะคอลัมที่ต้องการ โดยใช้ subset

(180972, 32)

#Methot 2 (raplace with reasonable value) แทนที่ด้วยค่าที่เหมาะสม

In [34]:
#เราจะไม่ให้ data หายไปเลย โดยการเอาค่า default ใส่เข้าไป คือ ค่ามาตรฐานของแต่ละฟิวส์

#
เราจะใส่ค่า missing value เข้าไป

In [35]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)
#เราจะสร้างคอลัมใหม่ไปแทน number_of_chains โดยให้ค่าเป็นค่าเดิม แต่ missing จะถูกแทนด้วย 0 โดยใช้ .fillna

In [36]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

#Method 2.1 (replace with unknow value)

#Method 3
# เติมค่าตามฟิวส์อื่น โดยพิจารณาคอลัมว่าแบ่งเป็นหน่วยย่อยๆได้

In [37]:
new_table = w_restaurant_df[['name' ,'city_name', 'avg_price']] 
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

##PD select data วิธีเลือกข้อมูลใน padas โดยสามารเลือกตาม row ได้

In [38]:
new_table['city_name']=='Bangkok Metropolitan Region'
#เราจะเลือกให้ฟิวส์ city name โดยสร้างลิตส์ที่บอกว่าจะเอาข้อมูลอะไรบ้าง โดยจะสร้างลิตส์ที่มีจำนวนข้อมูลทั้งหมดก่อน

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [39]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region']
#จากนั้นในลิตส์ city_name จะเลือกข้อมูลที่มีแต่ Bangkok Metropolitan Region มาแสดงตามที่เราต้องการ

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

In [40]:
selected_list = new_table['city_name'] =='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [41]:
new_table[selected_list].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

#หาค่าเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [42]:
#สร้างตารางขึ้นมาใหม่new_table แล้วเลือกตารางที่ city_name == Bangkok Metropolitan Region จากนั้นจึง .dropna() ค่าที่เป็น missing ออก
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price']

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

In [43]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()
# หลังจากเอาค่า missing ออก จะหาค่าเฉลี่ยของคอลัม avg_price โดยใช้คำสั่ง .mean() เพื่อหาค่าเฉลี่ย

392.5854715094968

1.เลือกเฉพาะ กทม.

In [66]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

2.ลบค่า missing ออกไป

In [45]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                   เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

3.เลือกเฉพาะคอลัม avg_price

In [46]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

4.หาค่าเฉลี่ย

In [47]:
bkk_table_dp_avg_price.mean()

392.5854715094968

## แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [48]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean()) 
bkk_table.head()
#

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [49]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

              name                    city_name avg_price
1     Corner House  Bangkok Metropolitan Region      None
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region      None
4      Buono Caffe  Bangkok Metropolitan Region      None
7         Sazanami  Bangkok Metropolitan Region      None
10  Rotee Me Chabu  Bangkok Metropolitan Region      None

#Ex9 หาค่าเฉลี่ยของร้านในจังหวัดเชียงใหม่

In [64]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price']

196       175.0
1465      375.0
2978       50.0
4683      175.0
4918      175.0
          ...
243517     50.0
244433    175.0
244841     50.0
244937     50.0
245954    375.0
Name: avg_price, Length: 464, dtype: float64

In [63]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()

188.41594827586206

In [65]:
ch_table = new_table[new_table['city_name']=='Chiang Mai']
ch_table_dp = ch_table.dropna()
ch_table_dp_avg_price = ch_table_dp['avg_price']
ch_table_dp_avg_price.mean()
ch_table.head()

                            name   city_name  avg_price
36                   Wrap Master  Chiang Mai        NaN
40                         Sozen  Chiang Mai        NaN
52           ไวท์ดราก้อน หมูกะทะ  Chiang Mai        NaN
60  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai        NaN
79            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai        NaN

#วิธีต่อตารางในแนวแกน Y (เพิ่มจำนวน data)

## คำสั่ง pd.concat

In [60]:
ch_table[['avg_price']] = ch_table[['avg_price']].fillna(ch_table_dp_avg_price.mean()) 
ch_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                            name   city_name   avg_price
36                   Wrap Master  Chiang Mai  188.415948
40                         Sozen  Chiang Mai  188.415948
52           ไวท์ดราก้อน หมูกะทะ  Chiang Mai  188.415948
60  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai  188.415948
79            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai  188.415948

In [61]:
pd_concat = pandas.concat([bkk_table,ch_table])
pd_concat #การเอาตารางมารวมกันโดยใช้ concat

                           name                    city_name   avg_price
1                  Corner House  Bangkok Metropolitan Region         NaN
3                นันท์คาราโอเกะ  Bangkok Metropolitan Region         NaN
4                   Buono Caffe  Bangkok Metropolitan Region         NaN
7                      Sazanami  Bangkok Metropolitan Region         NaN
10               Rotee Me Chabu  Bangkok Metropolitan Region         NaN
...                         ...                          ...         ...
246783            ส้มตำลำฮิมกอง                   Chiang Mai  188.415948
246803  ไก่ทอดปักษ์ใต้ นายหัวโต                   Chiang Mai  188.415948
246808        แคลิฟอร์เนียเวร็ป                   Chiang Mai  188.415948
246813   TOONGs COFFEE Roasters                   Chiang Mai  188.415948
246826                ลาบเขยยอง                   Chiang Mai  188.415948

[116258 rows x 3 columns]

## Method 3 Looping (concat)
วนลูป concat

1.ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [69]:
all_cities = set(new_table['city_name']) #set คือ ตัวแปลอะไรที่ซ้ำกันจะตัดออกทั้งหมด
len(all_cities)

479

2.คำนวณหาค่ามีนของคอลัม city_name เพื่อเก็บไว้เติมใส่เมืองที่เป็น missing ทุกร้าน

In [70]:
#หาค่าเฉลี่ยทั้งหมดเพื่อเอาไปใส่ตัวที่ missing
all_cities = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_cities

327.44728783902013

3.สร้าง list ของตารางของทุกๆจังหวัดที่แก้ missing แล้ว แล้วไปวนลูป

In [54]:
all_cities_list = []
for each_city in list(all_cities):
    #ch_table = new_table[new_table['city_name']=='Chiang Mai']
    #ch_table[['avg_price']] = ch_table[['avg_price']]..fillna(new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())

    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

4.สร้างตารางจาก list ของตาราง ด้วย pd.concat

In [54]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing