<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive 
drive.mount('/content/drive')
#เชื่อม Drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
path = '/content/drive/My Drive/DWDM_material'

In [60]:
import os
import pandas
# เรียกใช้ฟังก์ชัน

In [7]:
search_click = os.path.join(path,'search_click.csv')  #สร้างที่อยู่โดยใช้ os.path.join
w_restaurant = os.path.join(path,'w_restaurant.csv')

#Then use _pandas_ to load the data into the environment

In [8]:
search_click_df = pandas.read_csv(search_click)
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [9]:
w_restaurant_df = pandas.read_csv(w_restaurant)
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

#To check if the dimension of loaded data is correct as described in the description

In [10]:
search_click_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(1048575, 6)

In [11]:
w_restaurant_df.shape

(246847, 32)

## 0. Point to data in the table การชี้ข้อมูลไปที่ตารางโดยใช้ Dict

In [12]:
search_click_df['search_id'] #ใช้ชื่อคอลัมเรียกออกมา คือ search_id

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [13]:
search_click_df['search_id'][0] #indexแรก คือ คอมลัม indexสอง คือ แถวหรือลำดับของข้อมูล

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [14]:
w_restaurant_df[['name' ,'city_name', 'weighted_average_rating']]
#อยากได้แค่บางส่วนโดยการตัดตารางด้วยชื่อคอลัมที่มีอยู่ อยากได้ name , city_name , weighted_average_rating 
#โดยจะมีเครื่องหมายลิสต์ 2 อันซ้อนกันอยู่ [[]]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

#iloc เปลี่ยนมุมมองตารางให้เป็นเหมือน numply คือ มีคอลัมและแถว

In [15]:
search_click_df.iloc[0,1] # แถวที่0 , หลักหรือคอลัมที่1

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

#Missing Values

In [17]:
#เช็คว่าตารางมี missing หรือไม่
## Missing Values
search_click_df.isnull() #แต่ละช่องในตารางเป็นช่องว่างหรือป่าว

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [18]:
search_click_df.isnull().any() #.any จะยุบรวม T ในแต่ละคอลัมมา or กัน ดูตามแนวคอลัมว่ามี

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [19]:
search_click_df.isnull().any().any()

True

# Handling missing values 1 การจัดการ Missing
data ไหนมี missing อยู่ก็ให้ลบออก

In [20]:
search_click_df_nm = search_click_df.dropna()

In [21]:
search_click_df_nm.isnull().any().any() #เอามาเช็คอีกรอบจะเห็นว่าเป็น False แล้ว คือ ไม่มี missing อยู่ แต่จะทำให้ข้อมูลมันลดลง

False

In [22]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

In [23]:
## Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออกจากตาราง w_restarant จำทำให้ข้อมูลลดลงกี่เปอร์เซ็น

In [24]:
w_restaurant_df.isnull()

           id   name  domain_id  ...  hotel_restaurant  pet_friendly  delivery
0       False  False      False  ...              True          True      True
1       False  False      False  ...              True          True      True
2       False  False      False  ...              True          True      True
3       False  False      False  ...              True          True      True
4       False  False      False  ...              True          True      True
...       ...    ...        ...  ...               ...           ...       ...
246842  False  False      False  ...              True          True      True
246843  False  False      False  ...              True          True      True
246844  False  False      False  ...              True          True      True
246845  False  False      False  ...              True          True      True
246846  False  False      False  ...              True          True      True

[246847 rows x 32 columns]

In [25]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [26]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [27]:
w_restaurant_df_nm.isnull().any().any()

False

In [28]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 32)
(4, 32)

In [29]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size_before_drop = {size_before_drop},\nsize after drop = {size_after_drop}\
        \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size_before_drop = 246847,
size after drop = 4
which is 99.99837956304918

#Method 1.5

In [30]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [31]:
w_restaurant_df.dropna(subset=['id','price_range']).shape #เลือก drop เฉพาะคอลัมที่ต้องการ โดยใช้ subset

(180972, 32)

#Methot 2 (raplace with reasonable value) แทนที่ด้วยค่าที่เหมาะสม

In [32]:
#เราจะไม่ให้ data หายไปเลย โดยการเอาค่า default ใส่เข้าไป คือ ค่ามาตรฐานของแต่ละฟิวส์

#
เราจะใส่ค่า missing value เข้าไป

In [33]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)
#เราจะสร้างคอลัมใหม่ไปแทน number_of_chains โดยให้ค่าเป็นค่าเดิม แต่ missing จะถูกแทนด้วย 0 โดยใช้ .fillna

In [34]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

#Method 2.1 (replace with unknow value)

#Method 3
# เติมค่าตามฟิวส์อื่น โดยพิจารณาคอลัมว่าแบ่งเป็นหน่วยย่อยๆได้

In [35]:
new_table = w_restaurant_df[['name' ,'city_name', 'avg_price']] 
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

##PD select data วิธีเลือกข้อมูลใน padas โดยสามารเลือกตาม row ได้

In [36]:
new_table['city_name']=='Bangkok Metropolitan Region'
#เราจะเลือกให้ฟิวส์ city name โดยสร้างลิตส์ที่บอกว่าจะเอาข้อมูลอะไรบ้าง โดยจะสร้างลิตส์ที่มีจำนวนข้อมูลทั้งหมดก่อน

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [37]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region']
#จากนั้นในลิตส์ city_name จะเลือกข้อมูลที่มีแต่ Bangkok Metropolitan Region มาแสดงตามที่เราต้องการ

                     name                    city_name  avg_price
1            Corner House  Bangkok Metropolitan Region        NaN
3          นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4             Buono Caffe  Bangkok Metropolitan Region        NaN
7                Sazanami  Bangkok Metropolitan Region        NaN
10         Rotee Me Chabu  Bangkok Metropolitan Region        NaN
...                   ...                          ...        ...
246835     ร้านครัวแกงป่า  Bangkok Metropolitan Region        NaN
246840       โตข้าวต้มปลา  Bangkok Metropolitan Region        NaN
246842         Sushi Tama  Bangkok Metropolitan Region        NaN
246843  สะบายดี คาราโอเกะ  Bangkok Metropolitan Region        NaN
246844   สเต็กแม่&กาแฟลูก  Bangkok Metropolitan Region        NaN

[100588 rows x 3 columns]

In [38]:
selected_list = new_table['city_name'] =='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [39]:
new_table[selected_list].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

#หาค่าเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [40]:
#สร้างตารางขึ้นมาใหม่new_table แล้วเลือกตารางที่ city_name == Bangkok Metropolitan Region จากนั้นจึง .dropna() ค่าที่เป็น missing ออก
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price']

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

In [41]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()
# หลังจากเอาค่า missing ออก จะหาค่าเฉลี่ยของคอลัม avg_price โดยใช้คำสั่ง .mean() เพื่อหาค่าเฉลี่ย

392.5854715094968

1.เลือกเฉพาะ กทม.

In [42]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

2.ลบค่า missing ออกไป

In [43]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                   เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

3.เลือกเฉพาะคอลัม avg_price

In [44]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

4.หาค่าเฉลี่ย

In [45]:
bkk_table_dp_avg_price.mean()

392.5854715094968

## แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [46]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean()) 
bkk_table.head()
#

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [47]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

              name                    city_name avg_price
1     Corner House  Bangkok Metropolitan Region      None
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region      None
4      Buono Caffe  Bangkok Metropolitan Region      None
7         Sazanami  Bangkok Metropolitan Region      None
10  Rotee Me Chabu  Bangkok Metropolitan Region      None

#Ex9 หาค่าเฉลี่ยของร้านในจังหวัดเชียงใหม่

In [48]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price']

196       175.0
1465      375.0
2978       50.0
4683      175.0
4918      175.0
          ...
243517     50.0
244433    175.0
244841     50.0
244937     50.0
245954    375.0
Name: avg_price, Length: 464, dtype: float64

In [49]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()

188.41594827586206

In [50]:
ch_table = new_table[new_table['city_name']=='Chiang Mai']
ch_table_dp = ch_table.dropna()
ch_table_dp_avg_price = ch_table_dp['avg_price']
ch_table_dp_avg_price.mean()
ch_table.head()

                            name   city_name  avg_price
36                   Wrap Master  Chiang Mai        NaN
40                         Sozen  Chiang Mai        NaN
52           ไวท์ดราก้อน หมูกะทะ  Chiang Mai        NaN
60  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai        NaN
79            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai        NaN

#วิธีต่อตารางในแนวแกน Y (เพิ่มจำนวน data)

## คำสั่ง pd.concat

In [59]:
ch_table[['avg_price']] = ch_table[['avg_price']].fillna(ch_table_dp_avg_price.mean()) 
ch_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                            name   city_name   avg_price
36                   Wrap Master  Chiang Mai  188.415948
40                         Sozen  Chiang Mai  188.415948
52           ไวท์ดราก้อน หมูกะทะ  Chiang Mai  188.415948
60  เต-ชา ก๋วยเตี๋ยวไข่ไดโนเสาร์  Chiang Mai  188.415948
79            ก๋วยเตี๋ยวเรือสะใจ  Chiang Mai  188.415948

In [52]:
pd_concat = pandas.concat([bkk_table,ch_table])
pd_concat #การเอาตารางมารวมกันโดยใช้ concat

                           name                    city_name   avg_price
1                  Corner House  Bangkok Metropolitan Region         NaN
3                นันท์คาราโอเกะ  Bangkok Metropolitan Region         NaN
4                   Buono Caffe  Bangkok Metropolitan Region         NaN
7                      Sazanami  Bangkok Metropolitan Region         NaN
10               Rotee Me Chabu  Bangkok Metropolitan Region         NaN
...                         ...                          ...         ...
246783            ส้มตำลำฮิมกอง                   Chiang Mai  188.415948
246803  ไก่ทอดปักษ์ใต้ นายหัวโต                   Chiang Mai  188.415948
246808        แคลิฟอร์เนียเวร็ป                   Chiang Mai  188.415948
246813   TOONGs COFFEE Roasters                   Chiang Mai  188.415948
246826                ลาบเขยยอง                   Chiang Mai  188.415948

[116258 rows x 3 columns]

## Method 3 Looping (concat)
วนลูป concat

1.ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [53]:
all_cities = set(new_table['city_name']) #set คือ ตัวแปลอะไรที่ซ้ำกันจะตัดออกทั้งหมด
len(all_cities)

479

2.คำนวณหาค่ามีนของคอลัม city_name เพื่อเก็บไว้เติมใส่เมืองที่เป็น missing ทุกร้าน

In [56]:
#หาค่าเฉลี่ยทั้งหมดเพื่อเอาไปใส่ตัวที่ missing
all_cities = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_cities

327.44728783902013

3.สร้าง list ของตารางของทุกๆจังหวัดที่แก้ missing แล้ว แล้วไปวนลูป

In [57]:
all_cities_list = []
for each_city in list(all_cities):
    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

TypeError: ignored

4.สร้างตารางจาก list ของตาราง ด้วย pd.concat

In [58]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

ValueError: ignored

5.เติมค่ามีนของทั้งตารางให้กับจังหวัดที่ไม่มีมีน

In [64]:
all_no_missing = all_no_missing.fillna(all_cities)
all_no_missing.isnull().any()

NameError: ignored

#Remove Outlier (boxplot)

###Quiz วาด boxplot ของค่า avg_price ของตาราง all_no_missing แนวนอน

In [62]:
from matplotlib import pyplot as plt

In [63]:
plt.boxplot(all_no_missing['avg_price'])

NameError: ignored

In [ ]:
ret = plt.boxplot(all_no_missing['avg_price'],vert=False)

In [ ]:
ret  #เป็น Dict

In [ ]:
print(ret['whiskers'][0].get_xdata()) #whiskers ด้านซ้าย มี 2 เลข ตัวที่จะใช้คือ 138.157
print(ret['whiskers'][1].get_xdata()) #

In [ ]:
print(ret['whiskers'][0].get_xdata()[1]) 
print(ret['whiskers'][1].get_xdata()[1])
#ึค่าที่เราจะใช้

In [ ]:
#ทำการกำจัด outlier 
nooutlier_nomissing = all_no_missing[all_no_missing['avg_price']>=ret['whiskers'][0].get_xdata()[1]] #ตัด outlier แค่ด้านซ้าย
nooutlier_nomissing = nooutlier_nomissing[nooutlier_nomissing['avg_price']<=ret['whiskers'][1].get_xdata()[1]] #เอมาตัด Outlier ที่เหลือออก
nooutlier_nomissing

#Data Integration
การรวม 2 ตารางเข้าด้วยกัน

## merge two tables (.merge())

In [65]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')
merged_table

        click_timestamp  ... delivery
0               11:38.9  ...      1.0
1               30:51.3  ...      1.0
2               32:09.6  ...      NaN
3               00:59.8  ...      1.0
4               23:36.8  ...      1.0
...                 ...  ...      ...
1048570         05:28.8  ...      NaN
1048571         15:28.8  ...      NaN
1048572         11:49.4  ...      1.0
1048573         10:33.7  ...      1.0
1048574         13:51.4  ...      NaN

[1048575 rows x 38 columns]

##copy a column from other table (.map())
การไปดึงคอลัมอีกตารางมา

In [66]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])
search_click_df

        click_timestamp  ...                  bu_name
0               11:38.9  ...        ปูดองอันยอง Eight
1               30:51.3  ...                Yoshinoya
2               32:09.6  ...  The Hub Cafe and Eatery
3               00:59.8  ...     ซั่งไห่ เสี่ยวหลงเปา
4               23:36.8  ...                Yoshinoya
...                 ...  ...                      ...
1048570         05:28.8  ...              เสกแจ่วฮ้อน
1048571         15:28.8  ...    ก๋วยเตี๋ยวหมูหน่อกะลา
1048572         11:49.4  ...      Laemcharoen Seafood
1048573         10:33.7  ...     เอี่ยวไถ่ สุกี้โบราณ
1048574         13:51.4  ...                  Icy-me

[1048575 rows x 7 columns]

In [67]:
search_click_df['city'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['city_name'])
search_click_df

        click_timestamp  ...                         city
0               11:38.9  ...  Bangkok Metropolitan Region
1               30:51.3  ...  Bangkok Metropolitan Region
2               32:09.6  ...  Bangkok Metropolitan Region
3               00:59.8  ...  Bangkok Metropolitan Region
4               23:36.8  ...  Bangkok Metropolitan Region
...                 ...  ...                          ...
1048570         05:28.8  ...                   Chaiyaphum
1048571         15:28.8  ...  Bangkok Metropolitan Region
1048572         11:49.4  ...  Bangkok Metropolitan Region
1048573         10:33.7  ...  Bangkok Metropolitan Region
1048574         13:51.4  ...                 Prachin Buri

[1048575 rows x 8 columns]

#[PD] groupby()

In [68]:
search_click_df.groupby('business_id').count()
#ร้านเดียวกันจับกรุ๊ปเดียวกัน

             click_timestamp  search_id  display_position  ...  ads  bu_name  city
business_id                                                ...
2.0                        4          4                 4  ...    4        4     4
5.0                        2          2                 2  ...    2        2     2
6.0                        6          6                 6  ...    6        6     6
7.0                        3          3                 3  ...    3        3     3
14.0                       5          5                 5  ...    5        5     5
...                      ...        ...               ...  ...  ...      ...   ...
340060.0                   4          4                 4  ...    4        4     4
340063.0                   1          1                 1  ...    1        1     1
340067.0                   2          2                 2  ...    2        2     2
340068.0                   6          6                 6  ...    6        6     6
340070.0                   9          9                 9  ...    9        9     9

[141536 rows x 7 columns]

In [69]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')
#

             click_timestamp  search_id  display_position  ...   ads  bu_name  city
business_id                                                ...
122473.0                   1          1                 1  ...     1        1     1
136485.0                   1          1                 1  ...     1        1     1
275120.0                   1          1                 1  ...     1        1     1
136492.0                   1          1                 1  ...     1        1     1
136498.0                   1          1                 1  ...     1        1     1
...                      ...        ...               ...  ...   ...      ...   ...
150227.0                1377       1377              1377  ...  1377     1377  1377
273486.0                1417       1417              1417  ...  1417     1417  1417
112509.0                2130       2130              2130  ...  2130     2130  2130
142707.0                2811       2811              2811  ...  2811     2811  2811
182530.0                3833       3833              3833  ...  3833     3833  3833

[141536 rows x 7 columns]

In [70]:
w_restaurant_df[w_restaurant_df['id']==182530]
#ถ้าอยากรู้ว่าร้านที่มีคนกดเข้าไปเยอะสุดชื่ออะไร

            id      name  domain_id  ...  hotel_restaurant pet_friendly delivery
124030  182530  หนานหยวน          1  ...               NaN          NaN      NaN

[1 rows x 32 columns]

#Quiz หาจังหวัดที่มีคนกดเข้าไปมากที่สุดสามอันดับแรก

In [80]:
search_click_df.groupby('city').count().sort_values('click_timestamp')

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Wisconsin                                  1          1  ...       1        1
Mie-ken                                    1          1  ...       1        1
Tamil Nadu                                 1          1  ...       1        1
Vladimirskaya oblast'                      1          1  ...       1        1
Tainan City                                1          1  ...       1        1
...                                      ...        ...  ...     ...      ...
Rayong                                 17986      17986  ...   17986    17986
Phuket                                 18560      18560  ...   18560    18560
Chon Buri                              51535      51535  ...   51535    51535
Chiang Mai                             56775      56775  ...   56775    56775
Bangkok Metropolitan Region           596980     596963  ...  596980   596980

[365 rows x 7 columns]

## เฉลย

In [81]:
search_click_df.groupby('city').count().sort_values('click_timestamp').iloc[-3:,:] 
#เปลี่ยนเป็นตาราง arry โดยใช้ iloc เอา3อันดับสุดท้าย

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Chon Buri                              51535      51535  ...   51535    51535
Chiang Mai                             56775      56775  ...   56775    56775
Bangkok Metropolitan Region           596980     596963  ...  596980   596980

[3 rows x 7 columns]

In [84]:
search_click_df.groupby('city').count().sort_values('click_timestamp',ascending=False).iloc[:3:,:]
#เรียงจากมากไปน้อย

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Bangkok Metropolitan Region           596980     596963  ...  596980   596980
Chiang Mai                             56775      56775  ...   56775    56775
Chon Buri                              51535      51535  ...   51535    51535

[3 rows x 7 columns]

##EX เมืองไหนมีค่าเฉลี่ยของ weighted_average_rating สูงที่สุด

In [90]:
w_restaurant_df.groupby('city_name').mean()

                                      id  domain_id  ...  pet_friendly  delivery
city_name                                            ...
Abu Dhabi                  180200.000000   1.000000  ...           NaN       NaN
Aichi-ken                  181557.633803   1.000000  ...           NaN       NaN
Akershus                   196643.666667   1.000000  ...           NaN       NaN
Akita-ken                   12908.000000   1.000000  ...           NaN       NaN
Al Farwaniyah Governorate  166274.000000   1.000000  ...           NaN       NaN
...                                  ...        ...  ...           ...       ...
Ōita-ken                   187412.791045   1.000000  ...           NaN       NaN
Ōsaka-fu                   182106.134483   1.000000  ...           NaN       NaN
محافظة المحرق               92784.000000   1.000000  ...           NaN       NaN
สงขลา                      180144.823398   1.070950  ...       0.10084  0.616822
เขาใหญ่                    183348.056330   1.142777  ...       0.27381  0.470588

[479 rows x 27 columns]

In [91]:
w_restaurant_df.groupby('city_name').mean().sort_values('weighted_average_rating',ascending=False)

                                      id  domain_id  ...  pet_friendly  delivery
city_name                                            ...
Khartoum                   303589.000000        1.0  ...           NaN       NaN
Cairo Governorate          277711.000000        1.0  ...           NaN       NaN
Vaud                       161710.500000        1.0  ...           NaN       NaN
Borno                      276020.000000        2.0  ...           NaN       NaN
Kepulauan Riau             145430.500000        1.0  ...           NaN       NaN
...                                  ...        ...  ...           ...       ...
Castilla-La Mancha         210336.333333        1.0  ...           NaN       NaN
Capital Region of Denmark  134835.000000        1.0  ...           NaN       NaN
Région de Kidal            240208.500000        2.0  ...           NaN       NaN
Region Zealand             115070.000000        1.0  ...           NaN       NaN
Jharkhand                   63786.000000        1.0  ...           NaN       NaN

[479 rows x 27 columns]

##EX เมืองไหนมีค่าเฉลี่ยของ weighted_average_rating สูงที่สุด แบบน่าเชื่อถือที่สุด number_of_reviews สูงที่สุด

In [92]:
sorted_star = w_restaurant_df.groupby('city_name').mean().sort_values('weighted_average_rating',ascending=False)
sorted_star

                                      id  domain_id  ...  pet_friendly  delivery
city_name                                            ...
Khartoum                   303589.000000        1.0  ...           NaN       NaN
Cairo Governorate          277711.000000        1.0  ...           NaN       NaN
Vaud                       161710.500000        1.0  ...           NaN       NaN
Borno                      276020.000000        2.0  ...           NaN       NaN
Kepulauan Riau             145430.500000        1.0  ...           NaN       NaN
...                                  ...        ...  ...           ...       ...
Castilla-La Mancha         210336.333333        1.0  ...           NaN       NaN
Capital Region of Denmark  134835.000000        1.0  ...           NaN       NaN
Région de Kidal            240208.500000        2.0  ...           NaN       NaN
Region Zealand             115070.000000        1.0  ...           NaN       NaN
Jharkhand                   63786.000000        1.0  ...           NaN       NaN

[479 rows x 27 columns]

In [93]:
sorted_star[sorted_star['number_of_reviews']>=5]
#สร้างตัวแปร sorted_star มารับค่าจากการดูค่าเฉลี่ยแล้ว อยากรู้คนรีวิวสร้างตัวแปรมาวนลูปว่าถ้าคนรีวิว >= 5 ให้แสดงออกมา

                                        id  domain_id  ...  pet_friendly  delivery
city_name                                              ...
Maldives                     242953.000000   1.000000  ...           NaN       NaN
Chiang Mai                   179078.979643   1.168028  ...      0.067387  0.164958
Bangkok Metropolitan Region  179658.982155   1.117261  ...      0.162970  0.915868
Hua Hin                      180926.866138   1.167576  ...      0.144144  0.409091

[4 rows x 27 columns]

# SAVE to use with other applications

In [94]:
search_click_df.to_csv('search_click_extracted_time.csv')