<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/zooAssociation1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/DataMining_Project'

In [8]:
import os 
import pandas as pd

In [9]:
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')

In [10]:
zoo_type = pd.read_csv(zoo_type)
zoo_type.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [11]:
class_type = pd.read_csv(class_type)
class_type.head()

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad

[5 rows x 4 columns]

In [13]:
import numpy as np
import seaborn as sns

In [15]:
merged_table = zoo_type.merge(class_type,how='left',left_on='class_type',right_on='Class_Number')
merged_table.head()

  animal_name  ...                                       Animal_Names
0    aardvark  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1    antelope  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2        bass  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3        bear  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4        boar  ...  aardvark, antelope, bear, boar, buffalo, calf,...

[5 rows x 22 columns]

In [21]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [53]:
datafram = merged_table.drop(['class_type','Animal_Names', 'Number_Of_Animal_Species_In_Class','animal_name','Class_Type'], axis=1)
datafram.head()
#ลบคอลัม class type ออก

   hair  feathers  eggs  milk  ...  tail  domestic  catsize  Class_Number
0     1         0     0     1  ...     0         0        1             1
1     1         0     0     1  ...     1         0        1             1
2     0         0     1     0  ...     1         0        0             4
3     1         0     0     1  ...     0         0        1             1
4     1         0     0     1  ...     1         0        1             1

[5 rows x 17 columns]

In [54]:
datafram.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 0 to 100
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   hair          101 non-null    int64
 1   feathers      101 non-null    int64
 2   eggs          101 non-null    int64
 3   milk          101 non-null    int64
 4   airborne      101 non-null    int64
 5   aquatic       101 non-null    int64
 6   predator      101 non-null    int64
 7   toothed       101 non-null    int64
 8   backbone      101 non-null    int64
 9   breathes      101 non-null    int64
 10  venomous      101 non-null    int64
 11  fins          101 non-null    int64
 12  legs          101 non-null    int64
 13  tail          101 non-null    int64
 14  domestic      101 non-null    int64
 15  catsize       101 non-null    int64
 16  Class_Number  101 non-null    int64
dtypes: int64(17)
memory usage: 19.2 KB

In [60]:
def encode_units(x):
  if x <= 0:
    return 0
  if x >= 1 :
    return 1

datafram_set = datafram.applymap(encode_units)

In [61]:
freq_items = apriori(datafram_set, min_support = 0.07, use_colnames=True)

In [65]:
freq_items.apply(list).head()

    support    itemsets
0  0.425743      (hair)
1  0.198020  (feathers)
2  0.584158      (eggs)
3  0.405941      (milk)
4  0.237624  (airborne)

In [81]:
rule = association_rules(freq_items, metric='lift', min_threshold=1)
rule.head(10)

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0      (hair)      (milk)            0.425743  ...  2.234260  0.213312    6.386139
1      (milk)      (hair)            0.405941  ...  2.234260  0.213312   11.772277
2      (hair)   (toothed)            0.425743  ...  1.463210  0.119106    3.405941
3   (toothed)      (hair)            0.603960  ...  1.463210  0.119106    1.523031
4      (hair)  (backbone)            0.425743  ...  1.103670  0.036271    1.915842
5  (backbone)      (hair)            0.821782  ...  1.103670  0.036271    1.083258
6  (breathes)      (hair)            0.792079  ...  1.262500  0.088521    1.241638
7      (hair)  (breathes)            0.425743  ...  1.262500  0.088521         inf
8      (hair)      (legs)            0.425743  ...  1.264758  0.087050    9.792079
9      (legs)      (hair)            0.772277  ...  1.264758  0.087050    1.244224

[10 rows x 9 columns]

In [76]:
rule.isnull().any()

antecedents           False
consequents           False
antecedent support    False
consequent support    False
support               False
confidence            False
lift                  False
leverage              False
conviction            False
dtype: bool

In [ ]:
!pip install apyori

In [68]:
from apyori import apriori

In [ ]:
list(apriori(freq_items,min_support = 0.08, min_cofidence = 0.7))