<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/ZooProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/DataMining_Project'
#path คือ การสร้างตัวแปรเป็นที่อยู่ของไฟล์

In [3]:
import os # การ import os คือ การเรียกใช้การทำงานที่เกี่ยวกับไฟล์ทั้งหมด
import pandas

###สร้างตัวแปรใหม่ที่ชื่อ zoo_type และ class_type โดยราจะเปิดไฟล์ .csv ทำการสร้างตัวแปร os.path.join โดยเราจะ join สองอย่างคือ path และ ชื่อไฟล์ของเรา คือ zoo.csv และ class.csv

In [34]:
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')

### ทำการดูแค่หัวตารางโดย .head() แปลว่า เราจะโชว์แค่ห้าบรรทัดแรก

In [33]:
zoo_type = pandas.read_csv(zoo_type)
zoo_type.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [36]:
class_type = pandas.read_csv(class_type)
class_type.head()

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad

[5 rows x 4 columns]

### .shape เป็นเช็คฟังชั่นคำสั่งสำหรับนับจำนวนแถว และจำนวนคอลัมน์

In [43]:
zoo_type_df.shape

(101, 18)

In [39]:
class_type_df.shape

(7, 4)

## Missing Values
### เช็คว่าตารางมี missing หรือไม่
### โดยคำสั่ง .isnull() คือ แต่ละช่องในตารางเป็นช่องว่างหรือไม่

In [9]:
zoo_type_df.isnull()

     animal_name   hair  feathers   eggs  ...   tail  domestic  catsize  class_type
0          False  False     False  False  ...  False     False    False       False
1          False  False     False  False  ...  False     False    False       False
2          False  False     False  False  ...  False     False    False       False
3          False  False     False  False  ...  False     False    False       False
4          False  False     False  False  ...  False     False    False       False
..           ...    ...       ...    ...  ...    ...       ...      ...         ...
96         False  False     False  False  ...  False     False    False       False
97         False  False     False  False  ...  False     False    False       False
98         False  False     False  False  ...  False     False    False       False
99         False  False     False  False  ...  False     False    False       False
100        False  False     False  False  ...  False     False    False       False

[101 rows x 18 columns]

In [40]:
class_type_df.isnull()

   Class_Number  Number_Of_Animal_Species_In_Class  Class_Type  Animal_Names
0         False                              False       False         False
1         False                              False       False         False
2         False                              False       False         False
3         False                              False       False         False
4         False                              False       False         False
5         False                              False       False         False
6         False                              False       False         False

# การรวม 2 ตารางเข้าด้วยกัน 
## merge two tables (.merge())
### มีตารางสองอันแล้วต้องการนำข้อมูลมาเชื่อมต่อรวมกันโดยอาศัยคอลัมน์หนึ่งเป็นตัวเชื่อมจะใช้ฟังก์ชัน .merge

In [44]:
merged_table = zoo_type_df.merge(class_type_df,how='left',left_on='class_type',right_on='Class_Number')
merged_table 
#how : วิธีในการรวมตาราง how เพื่อกำหนดรูปแบบการเชื่อมโยง เมื่อกำหนดเป็น left นั่นคือยึดเอาเดตาเฟรามที่เป็นฐานของเมธอดเป็นหลัก 
#เมื่อชื่อคอลัมน์ที่ต้องการเชื่อมไม่เหมือนกันในสองตารางไม่ใช่ว่าสองคอลัมน์จากสองตารางที่เอามาเชื่อมกันจะมีค่าชื่อคอลัมน์เหมือนกันเสมอไป ในกรณีที่ต่างกันแบบนี้จะต้องกำหนดชื่อคอลัมน์ที่ต้องการเชื่อมโดยใช้คีย์เวิร์ด left_on=ชื่อคอลัมน์ในตารางซ้าย และ right_on=ชื่อคอลัมน์ในตารางขวา

    animal_name  ...                                       Animal_Names
0      aardvark  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1      antelope  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2          bass  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3          bear  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4          boar  ...  aardvark, antelope, bear, boar, buffalo, calf,...
..          ...  ...                                                ...
96      wallaby  ...  aardvark, antelope, bear, boar, buffalo, calf,...
97         wasp  ...  flea, gnat, honeybee, housefly, ladybird, moth...
98         wolf  ...  aardvark, antelope, bear, boar, buffalo, calf,...
99         worm  ...  clam, crab, crayfish, lobster, octopus, scorpi...
100        wren  ...  chicken, crow, dove, duck, flamingo, gull, haw...

[101 rows x 22 columns]