<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/ZooProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
path = '/content/drive/My Drive/DataMining_Project'
#path คือ การสร้างตัวแปรเป็นที่อยู่ของไฟล์

In [50]:
import os # การ import os คือ การเรียกใช้การทำงานที่เกี่ยวกับไฟล์ทั้งหมด
import pandas as pd

###สร้างตัวแปรใหม่ที่ชื่อ zoo_type และ class_type โดยราจะเปิดไฟล์ .csv ทำการสร้างตัวแปร os.path.join โดยเราจะ join สองอย่างคือ path และ ชื่อไฟล์ของเรา คือ zoo.csv และ class.csv

In [51]:
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')

### ทำการดูแค่หัวตารางโดย .head() แปลว่า เราจะโชว์แค่ห้าบรรทัดแรก

In [52]:
zoo_type = pandas.read_csv(zoo_type)
zoo_type

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

In [53]:
class_type = pandas.read_csv(class_type)
class_type

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad
5             6  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6             7  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[7 rows x 4 columns]

### .shape เป็นเช็คฟังชั่นคำสั่งสำหรับนับจำนวนแถว และจำนวนคอลัมน์

In [54]:
zoo_type.shape

(101, 18)

In [55]:
class_type.shape

(7, 4)

## Missing Values
### เช็คว่าตารางมี missing หรือไม่
### โดยคำสั่ง .isnull() คือ แต่ละช่องในตารางเป็นช่องว่างหรือไม่

In [56]:
zoo_type.isnull().any()

animal_name    False
hair           False
feathers       False
eggs           False
milk           False
airborne       False
aquatic        False
predator       False
toothed        False
backbone       False
breathes       False
venomous       False
fins           False
legs           False
tail           False
domestic       False
catsize        False
class_type     False
dtype: bool

In [57]:
class_type.isnull().any()

Class_Number                         False
Number_Of_Animal_Species_In_Class    False
Class_Type                           False
Animal_Names                         False
dtype: bool

#  merge two tables (.merge())
## การรวม 2 ตารางเข้าด้วยกัน
### มีตารางสองอันแล้วต้องการนำข้อมูลมาเชื่อมต่อรวมกันโดยอาศัยคอลัมน์หนึ่งเป็นตัวเชื่อมจะใช้ฟังก์ชัน .merge 
นั่นคือการเชื่อมโดยผ่านความสัมพันธ์ของค่าภายในตาราง

In [58]:
merged_table = zoo_type.merge(class_type,how='left',left_on='class_type',right_on='Class_Number')
merged_table

    animal_name  ...                                       Animal_Names
0      aardvark  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1      antelope  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2          bass  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3          bear  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4          boar  ...  aardvark, antelope, bear, boar, buffalo, calf,...
..          ...  ...                                                ...
96      wallaby  ...  aardvark, antelope, bear, boar, buffalo, calf,...
97         wasp  ...  flea, gnat, honeybee, housefly, ladybird, moth...
98         wolf  ...  aardvark, antelope, bear, boar, buffalo, calf,...
99         worm  ...  clam, crab, crayfish, lobster, octopus, scorpi...
100        wren  ...  chicken, crow, dove, duck, flamingo, gull, haw...

[101 rows x 22 columns]

In [60]:
merged_table.isnull().any().any()

False

### how : วิธีในการรวมตาราง how เพื่อกำหนดรูปแบบการเชื่อมโยง เมื่อกำหนดเป็น left นั่นคือยึดเอาเดตาเฟรามที่เป็นฐานของเมธอดเป็นหลัก 
###เมื่อชื่อคอลัมน์ที่ต้องการเชื่อมไม่เหมือนกันในสองตารางไม่ใช่ว่าสองคอลัมน์จากสองตารางที่เอามาเชื่อมกันจะมีค่าชื่อคอลัมน์เหมือนกันเสมอไป ในกรณีที่ต่างกันแบบนี้จะต้องกำหนดชื่อคอลัมน์ที่ต้องการเชื่อมโดยใช้คีย์เวิร์ด left_on=ชื่อคอลัมน์ในตารางซ้าย และ right_on=ชื่อคอลัมน์ในตารางขวา

# ใช้ concat ไม่ได้ เพราะ concat เป็นตัวเชื่อมตารางตามแนวแกน Y หลักและแถวควรจะต้องเท่ากัน

In [19]:
pd_concat = pandas.concat([zoo_type,class_type])
pd_concat

   animal_name  ...                                       Animal_Names
0     aardvark  ...                                                NaN
1     antelope  ...                                                NaN
2         bass  ...                                                NaN
3         bear  ...                                                NaN
4         boar  ...                                                NaN
..         ...  ...                                                ...
2          NaN  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3          NaN  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4          NaN  ...                             frog, frog, newt, toad
5          NaN  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6          NaN  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[108 rows x 22 columns]

In [27]:
data = pd.concat([zoo_type, class_type['Class_Number']], axis=1)
data

    animal_name  hair  feathers  ...  catsize  class_type  Class_Number
0      aardvark     1         0  ...        1           1           1.0
1      antelope     1         0  ...        1           1           2.0
2          bass     0         0  ...        0           4           3.0
3          bear     1         0  ...        1           1           4.0
4          boar     1         0  ...        1           1           5.0
..          ...   ...       ...  ...      ...         ...           ...
96      wallaby     1         0  ...        1           1           NaN
97         wasp     1         0  ...        0           6           NaN
98         wolf     1         0  ...        1           1           NaN
99         worm     0         0  ...        0           7           NaN
100        wren     0         1  ...        0           2           NaN

[101 rows x 19 columns]