<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/ZooProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
path = '/content/drive/My Drive/DataMining_Project'
#path คือ การสร้างตัวแปรเป็นที่อยู่ของไฟล์

In [11]:
import os # การ import os คือ การเรียกใช้การทำงานที่เกี่ยวกับไฟล์ทั้งหมด
import pandas

###สร้างตัวแปรใหม่ที่ชื่อ zoo_type และ class_type โดยราจะเปิดไฟล์ .csv ทำการสร้างตัวแปร os.path.join โดยเราจะ join สองอย่างคือ path และ ชื่อไฟล์ของเรา คือ zoo.csv และ class.csv

In [12]:
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')

### ทำการดูแค่หัวตารางโดย .head() แปลว่า เราจะโชว์แค่ห้าบรรทัดแรก

In [13]:
zoo_type = pandas.read_csv(zoo_type)
zoo_type

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

In [14]:
class_type = pandas.read_csv(class_type)
class_type

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad
5             6  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6             7  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[7 rows x 4 columns]

### .shape เป็นเช็คฟังชั่นคำสั่งสำหรับนับจำนวนแถว และจำนวนคอลัมน์

In [15]:
zoo_type.shape

(101, 18)

In [16]:
class_type.shape

(7, 4)

## Missing Values
### เช็คว่าตารางมี missing หรือไม่
### โดยคำสั่ง .isnull() คือ แต่ละช่องในตารางเป็นช่องว่างหรือไม่

In [17]:
zoo_type.isnull().any()

animal_name    False
hair           False
feathers       False
eggs           False
milk           False
airborne       False
aquatic        False
predator       False
toothed        False
backbone       False
breathes       False
venomous       False
fins           False
legs           False
tail           False
domestic       False
catsize        False
class_type     False
dtype: bool

In [18]:
class_type.isnull().any()

Class_Number                         False
Number_Of_Animal_Species_In_Class    False
Class_Type                           False
Animal_Names                         False
dtype: bool

#  merge two tables (.merge())
## การรวม 2 ตารางเข้าด้วยกัน
### มีตารางสองอันแล้วต้องการนำข้อมูลมาเชื่อมต่อรวมกันโดยอาศัยคอลัมน์หนึ่งเป็นตัวเชื่อมจะใช้ฟังก์ชัน .merge 
นั่นคือการเชื่อมโดยผ่านความสัมพันธ์ของค่าภายในตาราง

In [19]:
merged_table = zoo_type.merge(class_type,how='left',left_on='class_type',right_on='Class_Number')
merged_table

    animal_name  ...                                       Animal_Names
0      aardvark  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1      antelope  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2          bass  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3          bear  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4          boar  ...  aardvark, antelope, bear, boar, buffalo, calf,...
..          ...  ...                                                ...
96      wallaby  ...  aardvark, antelope, bear, boar, buffalo, calf,...
97         wasp  ...  flea, gnat, honeybee, housefly, ladybird, moth...
98         wolf  ...  aardvark, antelope, bear, boar, buffalo, calf,...
99         worm  ...  clam, crab, crayfish, lobster, octopus, scorpi...
100        wren  ...  chicken, crow, dove, duck, flamingo, gull, haw...

[101 rows x 22 columns]

In [ ]:
merged_table.isnull().any().any()

False

### how : วิธีในการรวมตาราง how เพื่อกำหนดรูปแบบการเชื่อมโยง เมื่อกำหนดเป็น left นั่นคือยึดเอาเดตาเฟรามที่เป็นฐานของเมธอดเป็นหลัก 
###เมื่อชื่อคอลัมน์ที่ต้องการเชื่อมไม่เหมือนกันในสองตารางไม่ใช่ว่าสองคอลัมน์จากสองตารางที่เอามาเชื่อมกันจะมีค่าชื่อคอลัมน์เหมือนกันเสมอไป ในกรณีที่ต่างกันแบบนี้จะต้องกำหนดชื่อคอลัมน์ที่ต้องการเชื่อมโดยใช้คีย์เวิร์ด left_on=ชื่อคอลัมน์ในตารางซ้าย และ right_on=ชื่อคอลัมน์ในตารางขวา

# ใช้ concat ไม่ได้ เพราะ concat เป็นตัวเชื่อมตารางตามแนวแกน Y หลักและแถวควรจะต้องเท่ากัน

#Assosiation

In [20]:
import numpy as np
import pandas as pd
import seaborn as sns

In [101]:
dataset = merged_table.groupby('animal_name')['Class_Type'].apply(list)
dataset

animal_name
aardvark          [Mammal]
antelope          [Mammal]
bass                [Fish]
bear              [Mammal]
boar              [Mammal]
                 ...
wallaby           [Mammal]
wasp                 [Bug]
wolf              [Mammal]
worm        [Invertebrate]
wren                [Bird]
Name: Class_Type, Length: 100, dtype: object

In [ ]:
transacs  = zoo_type.merge(class_type,how='left',left_on='class_type',right_on='Class_Number').apply(list)
transacs

In [22]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [23]:
from apyori import apriori

In [ ]:
list(apriori(transacs,min_support = 0.07))

In [137]:
list_zoo_type = zoo_type.apply(list)
list_zoo_type

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

In [ ]:
list(apriori(list_zoo_type,min_support = 0.07))

In [92]:
items = (zoo_type['animal_name'].unique())
items

array(['aardvark', 'antelope', 'bass', 'bear', 'boar', 'buffalo', 'calf',
       'carp', 'catfish', 'cavy', 'cheetah', 'chicken', 'chub', 'clam',
       'crab', 'crayfish', 'crow', 'deer', 'dogfish', 'dolphin', 'dove',
       'duck', 'elephant', 'flamingo', 'flea', 'frog', 'fruitbat',
       'giraffe', 'girl', 'gnat', 'goat', 'gorilla', 'gull', 'haddock',
       'hamster', 'hare', 'hawk', 'herring', 'honeybee', 'housefly',
       'kiwi', 'ladybird', 'lark', 'leopard', 'lion', 'lobster', 'lynx',
       'mink', 'mole', 'mongoose', 'moth', 'newt', 'octopus', 'opossum',
       'oryx', 'ostrich', 'parakeet', 'penguin', 'pheasant', 'pike',
       'piranha', 'pitviper', 'platypus', 'polecat', 'pony', 'porpoise',
       'puma', 'pussycat', 'raccoon', 'reindeer', 'rhea', 'scorpion',
       'seahorse', 'seal', 'sealion', 'seasnake', 'seawasp', 'skimmer',
       'skua', 'slowworm', 'slug', 'sole', 'sparrow', 'squirrel',
       'starfish', 'stingray', 'swan', 'termite', 'toad', 'tortoise',
       'tuatara', 'tuna', 'vampire', 'vole', 'vulture', 'wallaby', 'wasp',
       'wolf', 'worm', 'wren'], dtype=object)

In [51]:
freq_items = apriori(zoo_type, min_support=0.07, use_colnames=True)
freq_items

In [54]:
transacs = merged_table.groupby('animal_name')['Class_Type'].apply(list)
transacs

animal_name
aardvark          [Mammal]
antelope          [Mammal]
bass                [Fish]
bear              [Mammal]
boar              [Mammal]
                 ...
wallaby           [Mammal]
wasp                 [Bug]
wolf              [Mammal]
worm        [Invertebrate]
wren                [Bird]
Name: Class_Type, Length: 100, dtype: object

In [58]:
list(apriori(transacs,min_support = 0.02, min_cofidence = 0.1))

[RelationRecord(items=frozenset({'Amphibian'}), support=0.03, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Amphibian'}), confidence=0.03, lift=1.0)]),
 RelationRecord(items=frozenset({'Bird'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Bird'}), confidence=0.2, lift=1.0)]),
 RelationRecord(items=frozenset({'Bug'}), support=0.08, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Bug'}), confidence=0.08, lift=1.0)]),
 RelationRecord(items=frozenset({'Fish'}), support=0.13, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Fish'}), confidence=0.13, lift=1.0)]),
 RelationRecord(items=frozenset({'Invertebrate'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Invertebrate'}), confidence=0.1, lift=1.0)]),
 RelationRecord(items=frozenset({'Mammal'}), support=0.41, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Mammal'}), confidence=0.41, lift=1.0)]),
 RelationRecord(items=frozenset({'Reptile'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Reptile'}), confidence=0.05, lift=1.0)])]

In [65]:
import pandas as pd

In [71]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [67]:
merged_table1 = {'hair',	'feathers',	'eggs',	'milk',	'airborne',	'aquatic',	'predator',	'toothed',	'backbone',	'breathes',	
                                                                  'venomous',	'fins',	'legs',	'tail',	'domestic',	'catsize'}

In [114]:
merged_table1 = pd.DataFrame(data=merged_table1).iloc[1:,]
merged_table1

           0
1    aquatic
2    catsize
3   airborne
4       hair
5   venomous
6       fins
7   breathes
8       legs
9   domestic
10      eggs
11  backbone
12      tail
13  feathers
14  predator
15      milk

In [138]:
f2 = list_zoo_type.set_index('animal_name').T

In [139]:
newf2 = f2.reset_index()

In [201]:
newf2

animal_name        type  aardvark  antelope  bass  ...  wasp  wolf  worm  wren
0                  hair         1         1     0  ...     1     1     0     0
1              feathers         0         0     0  ...     0     0     0     1
2                  eggs         0         0     1  ...     1     0     1     1
3                  milk         1         1     0  ...     0     1     0     0
4              airborne         0         0     0  ...     1     0     0     1
5               aquatic         0         0     1  ...     0     0     0     0
6              predator         1         0     1  ...     0     1     0     0
7               toothed         1         1     1  ...     0     1     0     0
8              backbone         1         1     1  ...     0     1     0     1
9              breathes         1         1     0  ...     1     1     1     1
10             venomous         0         0     0  ...     1     0     0     0
11                 fins         0         0     1  ...     0     0     0     0
12                 legs         4         4     0  ...     6     4     0     2
13                 tail         0         1     1  ...     0     1     0     1
14             domestic         0         0     0  ...     0     0     0     0
15              catsize         1         1     0  ...     0     1     0     0
16           class_type         1         1     4  ...     6     1     7     2

[17 rows x 102 columns]

In [153]:
newf2.rename(columns={'animal_name':'type'},inplace=True)

In [199]:
newf2

animal_name        type  aardvark  antelope  bass  ...  wasp  wolf  worm  wren
0                  hair         1         1     0  ...     1     1     0     0
1              feathers         0         0     0  ...     0     0     0     1
2                  eggs         0         0     1  ...     1     0     1     1
3                  milk         1         1     0  ...     0     1     0     0
4              airborne         0         0     0  ...     1     0     0     1
5               aquatic         0         0     1  ...     0     0     0     0
6              predator         1         0     1  ...     0     1     0     0
7               toothed         1         1     1  ...     0     1     0     0
8              backbone         1         1     1  ...     0     1     0     1
9              breathes         1         1     0  ...     1     1     1     1
10             venomous         0         0     0  ...     1     0     0     0
11                 fins         0         0     1  ...     0     0     0     0
12                 legs         4         4     0  ...     6     4     0     2
13                 tail         0         1     1  ...     0     1     0     1
14             domestic         0         0     0  ...     0     0     0     0
15              catsize         1         1     0  ...     0     1     0     0
16           class_type         1         1     4  ...     6     1     7     2

[17 rows x 102 columns]

In [173]:
items = (newf2['type'].unique())
items

array(['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic',
       'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins',
       'legs', 'tail', 'domestic', 'catsize', 'class_type'], dtype=object)

In [191]:
newf2['type'] = newf2['type'].astype('str')
newf2

animal_name        type  aardvark  antelope  bass  ...  wasp  wolf  worm  wren
0                  hair         1         1     0  ...     1     1     0     0
1              feathers         0         0     0  ...     0     0     0     1
2                  eggs         0         0     1  ...     1     0     1     1
3                  milk         1         1     0  ...     0     1     0     0
4              airborne         0         0     0  ...     1     0     0     1
5               aquatic         0         0     1  ...     0     0     0     0
6              predator         1         0     1  ...     0     1     0     0
7               toothed         1         1     1  ...     0     1     0     0
8              backbone         1         1     1  ...     0     1     0     1
9              breathes         1         1     0  ...     1     1     1     1
10             venomous         0         0     0  ...     1     0     0     0
11                 fins         0         0     1  ...     0     0     0     0
12                 legs         4         4     0  ...     6     4     0     2
13                 tail         0         1     1  ...     0     1     0     1
14             domestic         0         0     0  ...     0     0     0     0
15              catsize         1         1     0  ...     0     1     0     0
16           class_type         1         1     4  ...     6     1     7     2

[17 rows x 102 columns]

In [195]:
newf2['type'] = newf2['type'].str.replace(r',',r'').astype('str')
newf3

In [196]:
list(apriori(newf3,min_support=0.07,use_colnames=True))

AttributeError: ignored