<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/ZooProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

In [12]:
path = '/content/drive/My Drive/DataMining_Project'
#path คือ การสร้างตัวแปรเป็นที่อยู่ของไฟล์

In [16]:
import os # การ import os คือ การเรียกใช้การทำงานที่เกี่ยวกับไฟล์ทั้งหมด
import pandas

###สร้างตัวแปรใหม่ที่ชื่อ zoo_type และ class_type โดยราจะเปิดไฟล์ .csv ทำการสร้างตัวแปร os.path.join โดยเราจะ join สองอย่างคือ path และ ชื่อไฟล์ของเรา คือ zoo.csv และ class.csv

In [17]:
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')

### ทำการดูแค่หัวตารางโดย .head() แปลว่า เราจะโชว์แค่ห้าบรรทัดแรก

In [8]:
zoo_type = pandas.read_csv(zoo_type)
zoo_type

NameError: ignored

In [19]:
class_type = pandas.read_csv(class_type)
class_type

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad
5             6  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6             7  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[7 rows x 4 columns]

### .shape เป็นเช็คฟังชั่นคำสั่งสำหรับนับจำนวนแถว และจำนวนคอลัมน์

In [20]:
zoo_type.shape

(101, 18)

In [21]:
class_type.shape

(7, 4)

## Missing Values
### เช็คว่าตารางมี missing หรือไม่
### โดยคำสั่ง .isnull() คือ แต่ละช่องในตารางเป็นช่องว่างหรือไม่

In [22]:
zoo_type.isnull().any()

animal_name    False
hair           False
feathers       False
eggs           False
milk           False
airborne       False
aquatic        False
predator       False
toothed        False
backbone       False
breathes       False
venomous       False
fins           False
legs           False
tail           False
domestic       False
catsize        False
class_type     False
dtype: bool

In [23]:
class_type.isnull().any()

Class_Number                         False
Number_Of_Animal_Species_In_Class    False
Class_Type                           False
Animal_Names                         False
dtype: bool

#  merge two tables (.merge())
## การรวม 2 ตารางเข้าด้วยกัน
### มีตารางสองอันแล้วต้องการนำข้อมูลมาเชื่อมต่อรวมกันโดยอาศัยคอลัมน์หนึ่งเป็นตัวเชื่อมจะใช้ฟังก์ชัน .merge 
นั่นคือการเชื่อมโดยผ่านความสัมพันธ์ของค่าภายในตาราง

In [24]:
merged_table = zoo_type.merge(class_type,how='left',left_on='class_type',right_on='Class_Number')
merged_table

    animal_name  ...                                       Animal_Names
0      aardvark  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1      antelope  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2          bass  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3          bear  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4          boar  ...  aardvark, antelope, bear, boar, buffalo, calf,...
..          ...  ...                                                ...
96      wallaby  ...  aardvark, antelope, bear, boar, buffalo, calf,...
97         wasp  ...  flea, gnat, honeybee, housefly, ladybird, moth...
98         wolf  ...  aardvark, antelope, bear, boar, buffalo, calf,...
99         worm  ...  clam, crab, crayfish, lobster, octopus, scorpi...
100        wren  ...  chicken, crow, dove, duck, flamingo, gull, haw...

[101 rows x 22 columns]

In [ ]:
merged_table.isnull().any().any()

False

### how : วิธีในการรวมตาราง how เพื่อกำหนดรูปแบบการเชื่อมโยง เมื่อกำหนดเป็น left นั่นคือยึดเอาเดตาเฟรามที่เป็นฐานของเมธอดเป็นหลัก 
###เมื่อชื่อคอลัมน์ที่ต้องการเชื่อมไม่เหมือนกันในสองตารางไม่ใช่ว่าสองคอลัมน์จากสองตารางที่เอามาเชื่อมกันจะมีค่าชื่อคอลัมน์เหมือนกันเสมอไป ในกรณีที่ต่างกันแบบนี้จะต้องกำหนดชื่อคอลัมน์ที่ต้องการเชื่อมโดยใช้คีย์เวิร์ด left_on=ชื่อคอลัมน์ในตารางซ้าย และ right_on=ชื่อคอลัมน์ในตารางขวา

# ใช้ concat ไม่ได้ เพราะ concat เป็นตัวเชื่อมตารางตามแนวแกน Y หลักและแถวควรจะต้องเท่ากัน

In [ ]:
pd_concat = pandas.concat([zoo_type,class_type])
pd_concat

   animal_name  ...                                       Animal_Names
0     aardvark  ...                                                NaN
1     antelope  ...                                                NaN
2         bass  ...                                                NaN
3         bear  ...                                                NaN
4         boar  ...                                                NaN
..         ...  ...                                                ...
2          NaN  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3          NaN  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4          NaN  ...                             frog, frog, newt, toad
5          NaN  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6          NaN  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[108 rows x 22 columns]

In [7]:
data = pd.concat([zoo_type, class_type['Class_Number']], axis=1)
data

NameError: ignored

#Assosiation

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
transacs  = zoo_type.merge(class_type,how='left',left_on='class_type',right_on='Class_Number').apply(list)
transacs

NameError: ignored

In [28]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=37daa75324114fc03d25ce3caa4af123055d4eabb27925ab386752ae0f060381
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
from apyori import apriori

In [3]:
list(apriori(transacs,min_support = 0.02, min_cofidence = 0.1))

NameError: ignored