<a href="https://colab.research.google.com/github/Suchirapon/KKU_data_mining/blob/master/%E0%B8%A5%E0%B8%AD%E0%B8%8711.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv', 'covid-19-daily_data_dictionary.xlsx']

In [ ]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/DataViz_2021/pm-18-jan-2021.csv

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_age = data_covid[['age']]
data_age

        age
0      61.0
1      74.0
2      73.0
3      68.0
4      66.0
...     ...
12418  28.0
12419  27.0
12420  10.0
12421  52.0
12422  51.0

[12423 rows x 1 columns]

In [ ]:
data_age2 = data_covid['age']
data_age2

0        61.0
1        74.0
2        73.0
3        68.0
4        66.0
         ...
12418    28.0
12419    27.0
12420    10.0
12421    52.0
12422    51.0
Name: age, Length: 12423, dtype: float64

In [ ]:
d2 = []
d2 = data_age*0.2

In [ ]:
d2

In [ ]:
data_Noage = data_covid[['age','No.']]
d3 = data_Noage.head()
d3

    age  No.
0  61.0    1
1  74.0    2
2  73.0    3
3  68.0    4
4  66.0    5

In [ ]:
plus = []
for i in range(d3.shape[0]):
    p = ((d3.iloc[i,0])) + (d3.iloc[i,1])
    plus.appand()

AttributeError: ignored

In [ ]:
for i in range(d3.shape[0]):
    p = ((d3.iloc[i,0])) + (d3.iloc[i,1])
    d3['sum'][i] = p
print(d3)

In [ ]:
for i in range(d3.shape[0]):
    if i >= 0:
        p = ((d3.iloc[i,0])) + (d3.iloc[i,1])
        d3['sum'][i] = p
print(d3)

    age  No.   sum
0  61.0    1  62.0
1  74.0    2  76.0
2  73.0    3  76.0
3  68.0    4  72.0
4  66.0    5  71.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
d3

    age  No.   sum
0  61.0    1  62.0
1  74.0    2  76.0
2  73.0    3  76.0
3  68.0    4  72.0
4  66.0    5  71.0

In [ ]:
for each_row in range(this_data.shape[0]):  # วิ่งทีละแถว 
    if (this_data.iloc[each_row,0]==20) and (this_data.iloc[each_row,2]== 'ขอนแก่น') :   # each_row คือ ตัวเลข
        print(this_data.iloc[each_row, : ])